*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
}

.titulo-contact{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1D21;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: white;
}

.contact{
    width: 100%;
    background: #1C1D21;
    color: white;
}

.text-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-contact>h2{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    font-weight: 800;
}

.text-contact>div>p{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.text-contact>div{
    margin-top: 3%;
    width: 50%;
    text-align: center;
}

.icons-contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-icons{
    margin-top: 3%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.div-icons>a>img{
    height: 50px;
}

.ws{
    filter: invert(61%) sepia(30%) saturate(841%) hue-rotate(76deg) brightness(101%) contrast(101%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.tg{
    filter: invert(58%) sepia(37%) saturate(1641%) hue-rotate(167deg) brightness(92%) contrast(83%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.em{
    filter: invert(33%) sepia(20%) saturate(5216%) hue-rotate(337deg) brightness(101%) contrast(97%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.lk{
    filter: invert(28%) sepia(100%) saturate(1291%) hue-rotate(191deg) brightness(89%) contrast(96%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.in{
    filter: invert(14%) sepia(75%) saturate(6840%) hue-rotate(344deg) brightness(103%) contrast(111%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.ws:hover,
.tg:hover,
.em:hover,
.lk:hover,
.in:hover{
    opacity: 1;
    transform: translateY(-8px);
}

.contact{
    transform: translateY(300px);
    transition: transform 1.5s ease;
}

.contact.hovered{
    transform: translateY(0);
}

.copy-1{
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.copy-1>div>img{
    height: 30px;
    margin-right: 0.5%;
    filter: invert(98%) sepia(2%) saturate(179%) hue-rotate(251deg) brightness(122%) contrast(100%);
}

.copy-1>div>p{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.div-copy-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-copy-2>a>img{
    height: 40px;
    padding-left: 15px;
    filter: invert(21%) sepia(20%) saturate(5089%) hue-rotate(249deg) brightness(88%) contrast(90%);
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.div-copy-2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.div-copy-2>a>img:hover{
    opacity: 1;
    transform: translateY(-8px);
}
