*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
}

/* Header */

.header{
    height: 100px;
    display: flex;
    background: #1C1D21;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Header - Barra de Navegacion */
.navbar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.navbar>div{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    transition: transform 0.3s ease;   
}

.navbar>div>img{
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(103%) contrast(103%);
}

.navbar>div>a{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
    padding-top: 8px;
}

/* Header - Barra de Navegacion - Hover */
.navbar>div>a:hover, .navbar>div>img:hover{
    cursor: pointer;
}

/* Sobre Mi */

.div-sm:hover{
    transform: translateY(-3px);
}


.div-sm:hover .a-sm{
    color: #FFD046;
    text-shadow: 3px 3px 5px #FFD046;
}

.div-sm:hover .img-sm{
    filter: invert(77%) sepia(46%) saturate(624%) hue-rotate(350deg) brightness(103%) contrast(102%);
}

/* Tegnologias */

.div-teg:hover{
    transform: translateY(-3px);
}

.div-teg:hover .a-teg{
    color: #9B5DE5;
    text-shadow: 3px 3px 5px #9B5DE5;
}

.div-teg:hover .img-teg{
    filter: invert(50%) sepia(36%) saturate(5896%) hue-rotate(237deg) brightness(92%) contrast(94%);
}

/* Skills */

.div-hb:hover{
    transform: translateY(-3px);
}

.div-hb:hover .a-hb{
    color: #03CEA4;
    text-shadow: 3px 3px 5px #03CEA4;
}

.div-hb:hover .img-hb{
    filter: invert(73%) sepia(58%) saturate(4151%) hue-rotate(122deg) brightness(95%) contrast(98%);
}

/* Conctacto */

.div-coct:hover{
    transform: translateY(-3px);
}

.div-coct:hover .a-coct{
    color: #FB4D3D;
    text-shadow: 3px 3px 5px #FB4D3D;
}

.div-coct:hover .img-coct{
    filter: invert(39%) sepia(71%) saturate(2797%) hue-rotate(338deg) brightness(101%) contrast(97%);
}

/* Header - Titulo */

.titulo-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.titulo-header>h1{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.titulo-header>a>img{
    height: 50px;
    padding-right: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(103%) contrast(103%);
}

.titulo-header>h1>a{
    color: white;
}

body{
    background: #1C1D21;
}

.about .div-sm.hovered{
    transform: translateY(-3px);
}

.about .div-sm>.a-sm.hovered{
    color: #FFD046;
    text-shadow: 3px 3px 5px #FFD046;
}